body {
    font-family: Arial, Helvetica, sans-serif;
    display: block;
}

.wraper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "Tipos"
                        "Texto";
    row-gap: 10px;
    column-gap: 0px;
}

.wrapper > header {
    background: rgba(218, 171, 130, 0.644);
}

.logo {
    display: block;
    width: 30%;
    height: 30%;
    margin: 0 auto;
}

.menu-principal {
    grid-area: Tipos;
    display: block;
    background: #8b5d2e;
    width: 35%;
    height: 35%;
    margin: 0 auto;
}

.menu-principal > ul {
    list-style: none;
    padding: 5px;
}

.menu-principal > ul > li >a,  .menu-principal > h2 {
    color: rgb(245, 181, 126);
}

@media (max-width: 800px) {
    .menu-principal {
        display: block;
        background: rgba(244, 165, 96, 0.61);
        width: 280px;
        height: 30%;
        margin: 0 auto;
    }

    .menu-principal > h2, .menu-principal > ul > li > a {
        display: block;
        color: #8b5d2e;
    }

    .logo {
        display: block;
        width: 200px;
        height: 30%;
        margin: 0 auto;
    }
}